# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Build / packaging
dist/
build/
*.spec

# IDE
.vscode/
.idea/

# Audio datasets (not shipped)
assets/iowa_raw/
assets/iowa_wav/
assets/perc_raw/
assets/perc_wav/
assets/piano_raw/
assets/piano_wav/